In [3]:
a ='Hello World!!'
print(a)

Hello World!!

In [4]:
1+2, 3/2.4, 3*9

(3, 1.25, 27)

In [6]:
# 변수에 숫자 대입하고 계산하기 : 한줄 주석
a = 1 # a변수 선언하고 대입
b = 2 # b변수 선언하고 대입 
a + b # 연산 처리

3

In [8]:
a =3
# if(조건식){
#     #true 일때 처리코드 
# }
if a>1: #:block start
    print("hello")

hello

In [2]:
ml='''
Life is too short 
You need python 
'''
def f1():
    print('Hello')

In [1]:
number=10 
day=3
a= f"I ate{number} apples. so i was sick for{day} days"

In [4]:
a=[1,2,4]
#a[1]=['a','b','c']
a[1:2] =['a','b','c']
a

[1, 'a', 'b', 'c', 4]

In [8]:
a=[1,4,3,2]
a.sort(reverse=True)
a

[4, 3, 2, 1]

In [9]:
a =[1,2,3,1,2,3,]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [10]:
a=[1,2,3]
b= a.pop() #para 없을경우 맨 뒤에서 추출
print(a,b)

[1, 2] 3

In [12]:
a = [1,2,3]
a.pop(1)

2

In [13]:
a=[1,2,3]
#a.append([4,5]) #[1,2,3,[4,5]]
a.extend([4,5]) #[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [22]:
"i ate{number} apples. so l was sick for {day} days.".format(number=10, day=3)

'i ate10 apples. so l was sick for 3 days.'

In [28]:
"{0:!^10}".format("hi")

'!!!!hi!!!!'

In [30]:
y=3.123456
"{0:10.4f}".format(y)

'    3.1235'

In [32]:
a=[1,4,3,2]
a.sort(reverse=True)
a

[4, 3, 2, 1]

In [35]:
a=['a','b','c']
a.reverse()
a

['c', 'b', 'a']

In [38]:
a=[1,2,3]
a.index(3)

2

In [41]:
a=[1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [44]:
a= [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [47]:
a= [1,2,3,1]
a.count(1)

2

In [35]:
class Service:                        #11232023
    #클래스 변수 선 purpose:  All obj shere!
    secret = "영구는 외계인이다"
    #메소드 선언: self가 있는 메소드 = obc 접근 가능한 메소드 
    
    #생성자 처리 =>(Service '홍길동')   //두 줄 매우 중요   // obj 생성 시 값을 부여하고 싶을 때 사용 한다.
    #method 처리 
    def setName(self, name): #name 받아서 초기화
        #self.name    obj안에 name 공간 생성 
        self.name = name    #member, 객체변수  자체적으로 Attribute이다 
# get, set할수 있는 변수:Attribute

def sum(self, a:int, b:int): #제공되는 서비스
    result = a +b
    print(f'{self.name}님 {a} + {b} ={result}입니다.')

In [36]:
kim = Service()# name space
park = Service()   # kim, park obj 생성 

kim.setName('홍길동')
kim.sum(1,1)
kim.name ='김길동'
kim.sum(1,1)

AttributeError: 'Service' object has no attribute 'sum'

In [14]:
class Service:
    pass

In [15]:
kim = Service()  #empty obj 생성 
park = Service()
kim.name ='김철수'
park.name = '박응용'
print(kim.name)
print(park.name)

김철수
박응용

In [22]:
# obj 생성할 때 name 생성 후 초기화 했으면 에러가 발생되지 않을 것이다.
babo = Service('홍길동')
babo.sum(1,1)
babo.setName('babo')
babo.sum(1,1)

AttributeError: 'Service' object has no attribute 'sum'

In [38]:
# 사칙연산 클래스 만들기: class: 틀  1) 상속할 수 있고 2)다양한 형태로 이용할 수 있다.
class FourCal: 
     def setData(self, first, second):
        self.first = first
        self.second = second
    def sum(self):
        return self.first + self.second
    def sub(self): #-
        return self.first - self.second

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [30]:
kim = FourCal()
kim.setData(4,2)
kim.sum(), kim.__sub()

NameError: name 'FourCal' is not defined

In [31]:
kim =FourCal
FourCal.setData(kim,4,2,)
FourCal.sum(kim)

NameError: name 'FourCal' is not defined

In [ ]:
# 박씨네 집 클래스 만들기 
class HousePark:
    lastName = '박'  # 모두 박씨
    def__init__(self,name) ->None:
    def setName(self, name):
        self.fulName = HousePark.lastName + name 
    def travel(self, where):
        print('f{self.fulName}이 {where}로 여행을 가다')

In [ ]:
pey = HousePark ()
pey.setName('응용')
pes = HousePark ()
pes.setName('응수')
print(pey.fullName)
print(pes.fullName)

In [33]:
pey = HousePark()
pey.setName('응용')
print(pey.travel(where='부산'))   #모든me ret값 들어감

NameError: name 'HousePark' is not defined